<h1>Project using Unsupervised Learning</h1>
<p>Grouping and Clustering on the basis of similarity or diffrence</p>

In [25]:
import pandas as pd
import numpy     as np
import matplotlib as plt 
import seaborn as sns

<h1>1. Reading data</h1>

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/farmer.csv")
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

<h1>2. Accessing data </h1>

In [27]:
df["label"].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [28]:
df["label"].nunique()

22

In [29]:
rice = df[df["label"] == "rice"]
rice.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [30]:
coconut = df[df["label"] == "coconut"]
coconut.head()

       N   P   K  temperature   humidity        ph    rainfall    label
1800  18  30  29    26.762749  92.860569  6.420019  224.590366  coconut
1801  37  23  28    25.612944  94.313884  5.740055  224.320676  coconut
1802  13  28  33    28.130115  95.648076  5.686973  151.076190  coconut
1803   2  21  35    25.028872  91.537209  6.293662  179.824894  coconut
1804  10  18  35    27.797977  99.645730  6.381975  181.694228  coconut

In [31]:
rice["N"].mean()

np.float64(79.89)

In [32]:
coconut["N"].mean()

np.float64(21.98)

In [33]:
rice["temperature"].mean()

np.float64(23.6893322105)

In [34]:
coconut["temperature"].mean()

np.float64(27.409892172299998)

<h1>3. Grouping of data.</h1>

In [35]:
grouped = df.groupby("label")

In [36]:
grouped[["temperature"]].mean()

             temperature
label
apple          22.630942
banana         27.376798
blackgram      29.973340
chickpea       18.872847
coconut        27.409892
coffee         25.540477
cotton         23.988958
grapes         23.849575
jute           24.958376
kidneybeans    20.115085
lentil         24.509052
maize          22.389204
mango          31.208770
mothbeans      28.194920
mungbean       28.525775
muskmelon      28.663066
orange         22.765725
papaya         33.723859
pigeonpeas     27.741762
pomegranate    21.837842
rice           23.689332
watermelon     25.591767

In [37]:
grouped[["N"]].mean()

                  N
label
apple         20.80
banana       100.23
blackgram     40.02
chickpea      40.09
coconut       21.98
coffee       101.20
cotton       117.77
grapes        23.18
jute          78.40
kidneybeans   20.75
lentil        18.77
maize         77.76
mango         20.07
mothbeans     21.44
mungbean      20.99
muskmelon    100.32
orange        19.58
papaya        49.88
pigeonpeas    20.73
pomegranate   18.87
rice          79.89
watermelon    99.42

In [40]:
grouped["temperature"].agg(min="min",max="max",mean="mean")

                   min        max       mean
label
apple        21.036527  23.996862  22.630942
banana       25.010185  29.908885  27.376798
blackgram    25.097374  34.946616  29.973340
chickpea     17.024985  20.995022  18.872847
coconut      25.008724  29.869083  27.409892
coffee       23.059519  27.923744  25.540477
cotton       22.000851  25.992374  23.988958
grapes        8.825675  41.948657  23.849575
jute         23.094338  26.985822  24.958376
kidneybeans  15.330426  24.923601  20.115085
lentil       18.064861  29.944139  24.509052
maize        18.041855  26.549864  22.389204
mango        27.003155  35.990097  31.208770
mothbeans    24.018254  31.999286  28.194920
mungbean     27.014704  29.914544  28.525775
muskmelon    27.024151  29.943492  28.663066
orange       10.010813  34.906653  22.765725
papaya       23.012402  43.675493  33.723859
pigeonpeas   18.319104  36.977944  27.741762
pomegranate  18.071330  24.962732  21.837842
rice         20.045414  26.929951  23.689332
watermelon   24.043558  26.986037  25.591767

<h1>4. Different types of Charts for grouped data.</h1>